body {
    background: lightblue;
    padding: 20px;
}

nav {
    font-size:150%
}

.links {
    font-size: 130%;
}

.container {
    padding: 10px;
    font-size: 15px;
    height: 300px;
    max-width: auto;  
    background: lightblue;  
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    text-align: left;
}
