body {
    background: lightblue;
    padding: 20px;
}

nav {
    font-size:150%
}

.links {
    font-size: 150%;
}

.container {
    padding: 10px;
    height: auto;
    max-width: auto;  
    background: lightblue;  
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
    text-align: left;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
